%header.main-header{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: 'Blog Logo'
    - if blog_settings.navigation
      %a.menu-button.icon-menu{href: '#'}
        %span.word Menu
  .vertical
    .main-header-content-inner
      %h1.page-title Brad Johnson

%main#content.content{role: :main }
  %article.post
    %p
      I am a self-taught full stack web developer, working primarily with Ruby
      on Rails and various JavaScript frameworks. Recently I have been enjoying
      using React with Redux and experimenting with Elixir and the Phoenix
      framework.

    %p
      You can find some recent blog posts of mine at the
      %a{href: "https://www.coshx.com/author/brad-johnson"} Coshx Labs blog
      , and some older posts
      %a{href: "/"} here
      ="."
      I have some code at
      %a{href: "https://github.com/cdale77"} GitHub
      and professional information at
      %a{href: "https://www.linkedin.com/in/brad-johnson-68831a5"} LinkedIn
      = "."

    %p
      I am the organizer of
      %a{href: "https://www.railsschool.org/"} RailsSchool SF
      , a co-organizer of the
      %a{href: "https://www.meetup.com/East-Bay-Rails/"} East Bay Rails Meetup
      , and a board member at
      %a{href: "https://www.fredfinch.org/"} Fred Finch Youth Center
      = "."
      When I'm not writing code I enjoy skiing and fishing in the Sierra Nevada
      backcountry and being a dad.
